In [1]:
from datetime import datetime
from pyspark import SparkContext, HiveContext
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as funcs
import pandas as pd
from pyspark.sql.functions import row_number,lit
from pyspark.sql.window import Window

In [2]:
spark = (SparkSession.builder.appName("pyspark-02-{}".format(datetime.today()))
        .master("spark://192.168.1.11:8081")      
        .getOrCreate())
sqlContext = SQLContext(spark)

/usr/local/spark/python/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
spark.sql("show tables").toPandas()

  namespace       tableName  isTemporary
0   default       bank_name        False
1   default  pp_transaction        False
2   default        use_case        False
3   default       use_case2        False

In [4]:
data = spark.sql("SELECT * FROM bank_name")

In [5]:
data.show()

+---------+---+
|bank_send| id|
+---------+---+
|     MHCB|  1|
|     TCRB|  2|
|      GSB|  3|
|      GHB|  4|
|      SCB|  5|
|     SCBT|  6|
|     CITI|  7|
|     UOBT|  8|
|     ISBT|  9|
|     ICBC| 10|
|     BOCB| 11|
|     TSCO| 12|
|      BBL| 13|
|     IOBA| 14|
|      KTB| 15|
|      BAY| 16|
|     CMBT| 17|
|     BNPP| 18|
|     HSBC| 19|
|     SMBC| 20|
+---------+---+
only showing top 20 rows

In [6]:
print(data.count())

26

In [9]:
temp =  data.toPandas()

In [7]:
data.write.mode("overwrite").parquet("s3a://output/bank_name.parquet")
print("OK~!~")

OK~!~

In [10]:
temp.to_parquet("data/bank_name.parquet")