In [1]:
from datetime import datetime
from pyspark import SparkContext, HiveContext
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as funcs
import pandas as pd
from pyspark.sql.functions import row_number,lit
from pyspark.sql.window import Window

In [2]:
spark = (SparkSession.builder.appName("pyspark-test-{}".format(datetime.today()))
        .master("spark://spark-master:7077")      
        .getOrCreate())
sqlContext = SQLContext(spark)

/usr/local/spark/python/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
#spark.sparkContext.getConf().getAll()

In [4]:
spark.sql("show tables").toPandas()

  namespace       tableName  isTemporary
0   default       bank_name        False
1   default  pp_transaction        False
2   default        use_case        False
3   default       use_case2        False

In [5]:
df_orders = spark.read.format("delta").load("s3a://warehouse/bank_name.delta", header=True)
df_orders.limit(10).toPandas()

  bank_send  id
0      MHCB   1
1      TCRB   2
2       GSB   3
3       GHB   4
4       SCB   5
5      SCBT   6
6      CITI   7
7      UOBT   8
8      ISBT   9
9      ICBC  10