In [1]:
from datetime import datetime
from pyspark import SparkContext, HiveContext
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as funcs
import pandas as pd
from pyspark.sql.functions import row_number,lit
from pyspark.sql.window import Window

In [2]:
spark = (SparkSession.builder.appName("pyspark-02-{}".format(datetime.today()))
        .master("spark://spark-master:7077")      
        .getOrCreate())
sqlContext = SQLContext(spark)

/usr/local/spark/python/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
spark.sql("show tables").toPandas()

  namespace       tableName  isTemporary
0   default       bank_name        False
1   default  pp_transaction        False
2   default        use_case        False
3   default       use_case2        False

In [4]:
data = spark.sql("SELECT * FROM pp_transaction")

In [5]:
data.show()

+---+-------------------+---------+------------+----------+--------------------+----------+
|tps|          data_time|bank_send|bank_receive|proxy_type|            datatype|      date|
+---+-------------------+---------+------------+----------+--------------------+----------+
|  1|2023-05-30 12:02:26|     KBNK|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  3|2023-05-30 12:02:26|     KBNK|         BAY|  BILLERID|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:26|     KBNK|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:26|     KBNK|         BAY|     NATID|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:26|      SCB|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:27|      BBL|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  3|2023-05-30 12:02:27|      BBL|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:27|     CITI|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  4|2023-05-30 12:02:27|     KBNK|         BAY|   EWALLET|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  2|2023-05-30 12:02:27|     KBNK|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  2|2023-05-30 12:02:27|      KTB|         BAY|  BILLERID|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  3|2023-05-30 12:02:27|      SCB|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:27|      TMB|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:27|      TMB|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:28|     BAAC|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:28|     BAAC|         BAY|  BILLERID|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:28|      BBL|         BAY|    MSISDN|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  6|2023-05-30 12:02:28|     KBNK|         BAY|   ACCOUNT|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  1|2023-05-30 12:02:28|     KBNK|         BAY|     NATID|TPS_SWT_LEG1_LEG2...|2023-05-30|
|  2|2023-05-30 12:02:28|      SCB|         BAY|  BILLERID|TPS_SWT_LEG1_LEG2...|2023-05-30|
+---+-------------------+---------+------------+----------+--------------------+----------+
only showing top 20 rows

In [6]:
print(data.count())

8763175